<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Found data</title>
    <style>
      * {
        margin: auto auto;
      }
      body {
        margin: 1rem 5rem;
      }
    </style>
  </head>
  <body>
    <div class="dirPaths">
      <h3><%= path %></h3>
      <button id="downloadButton">download</button>
    </div>

    <h2><%=name%></h2>
    <h3><%=size%> kb</h3>

    <code><pre><%=content%></pre></code>

    <script></script>
  </body>
</html>
